/*----------------------------------------------------------------------------------------------------------------------------------*/
/* Estilos para atributos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
  text-align: center;
}
h1 {
  font-size: 2.8rem; /* Make the title larger */
  text-align: center;
  margin: 1rem 0;
  color: #000000;
}
/*----------------------------------------------------------------------------------------------------------------------------------*/



/*----------------------------------------------------------------------------------------------------------------------------------*/
/* Estilos usados para la página de principal (index.html) y todos-los-casos.html */
/*----------------------------------------------------------------------------------------------------------------------------------*/



/*----------------------------------------------------------------------------------------------------------------------------------*/
/* Estilo para el mensaje en la página de opciones*/
#main-prompt {
  font-size: 1.5rem; /* Increase the prompt size */
  text-align: center;
  margin: 1rem 0;
  color: #000000;
}
/*----------------------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------------------------*/
/* Estilo contenedor par de casos */
#casos-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem auto;
  max-height: 2000px;
  max-width: 1000px;
}
/*----------------------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------------------------*/
/* Estilo contenedor todos los casos */
#todos-casos-container {
  width: 50%; /* Ancho del div */
  margin: 20px auto; /* Centrado horizontal */
  background-color: #f4f4f4;
  text-align: center; /* Centra el contenido dentro del div (opcional) */
  padding: 20px;
  border: 1px solid #ddd;
}
/*----------------------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------------------------*/
/* Estilo para la información de los casos */
.caso {
  border: 5px solid #000000;
  border-radius: 8px;
  background-color: #a3f7ff;
  box-shadow: 0 2px 4px #000000;
  width: 45%;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  cursor: default;
  transition: transform 0.2s, background-color 0.2s;
}
/*----------------------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------------------------*/
/* Estilo para los botones */
#opcion-1-btn {
  padding: 0.5rem 1rem;
  font-size: 20px; /* Tamaño de fuente */
  background-color: #747474;
  color: white;
  border: 3px solid #000000;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s; /* Animación suave */
}
#opcion-1-btn:hover {
  background-color: #2ec6d1; /* Color de fondo al pasar el mouse */
}

#opcion-2-btn {
  padding: 0.5rem 1rem;
  font-size: 20px; /* Tamaño de fuente */
  background-color: #747474;
  color: white;
  border: 3px solid #000000;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s; /* Animación suave */
}
#opcion-2-btn:hover {
  background-color: #2ec6d1; /* Color de fondo al pasar el mouse */
}

#show-all-btn {
  display: block; /* Necesario para usar margin auto */
  margin: 0 auto; /* Centra horizontalmente */
  padding: 0.5rem 1rem;
  font-size: 25px; /* Tamaño de fuente */
  background-color: #747474;
  color: white;
  border: 3px solid #000000;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s; /* Animación suave */
  height: 100px;
  width: 300px;
}
#show-all-btn:hover {
  background-color: #2ec6d1; /* Color de fondo al pasar el mouse */
}

#volver-btn {
  display: block; /* Necesario para usar margin auto */
  margin: 20px auto; /* Centra horizontalmente */
  padding: 0.5rem 1rem;
  font-size: 25px; /* Tamaño de fuente */
  background-color: #747474;
  color: white;
  border: 3px solid #000000;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s; /* Animación suave */
  height: 100px;
}
#volver-btn:hover {
  background-color: #0056b3; /* Color de fondo al pasar el mouse */
}

#home-btn {
  display: block; /* Necesario para usar margin auto */
  margin: 20px auto; /* Centra horizontalmente */
  padding: 0.5rem 1rem;
  font-size: 20px; /* Tamaño de fuente */
  background-color: #747474;
  color: white;
  border: 3px solid #000000;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s; /* Animación suave */
}
#home-btn:hover {
  background-color: #0056b3; /* Color de fondo al pasar el mouse */
}

/*----------------------------------------------------------------------------------------------------------------------------------*/



/*----------------------------------------------------------------------------------------------------------------------------------*/
/* Estilos usados para la página de Bienvenida */
/*----------------------------------------------------------------------------------------------------------------------------------*/



/*----------------------------------------------------------------------------------------------------------------------------------*/
/* Estilo contenedor de mensaje que explica obj página */
.mensaje-container {
  width: 50%; /* Ancho del div */
  margin: 20px auto; /* Centrado horizontal */
  text-align: center;
  background-color: #f0f8ff; /* Color de fondo */
  border: 8px solid #007acc; /* Borde con color */
  border-radius: 10px; /* Bordes redondeados */
  padding: 15px; /* Espaciado interno */
  width: 1000px; /* Ancho del recuadro */
  font-family: Arial, sans-serif; /* Fuente para el texto */
}
.mensaje-container p {
  margin: 0; /* Quita el margen por defecto de <p> */
  color: #000000; /* Color del texto */
  font-size: 28px; /* Tamaño de fuente */
  padding: 15px; /* Espaciado interno */
  text-align: left; /* Alinea el texto hacia la izquierda */
}
/* Estilo para contenedor mensaje de bienvenida */
.welcome-container {
  text-align: center;
  padding: 2rem 1rem;
}
/*----------------------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------------------------*/
/* Estilo para contenedor de botones */
.welcome-container button {
  display: block; /* Necesario para usar margin auto */
  margin: 20px auto; /* Centra horizontalmente */
  padding: 0.5rem 1rem;
  font-size: 25px; /* Tamaño de fuente */
  background-color: #747474;
  color: white;
  border: 3px solid #000000;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s; /* Animación suave */
}
.welcome-container button:hover {
  background-color: #0056b3;
}
/*----------------------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------------------------*/
/* Estilo para imagen */
.welcome-image {
    max-width: 400px;
    margin: 1rem auto;
    display: block;
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.2));
  }
/*----------------------------------------------------------------------------------------------------------------------------------*/



