/*----------------------------------------------------------------------------------------------------------------------------------*/
/* Estilos para atributos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  font-size: 2.8rem; /* Título principal más grande */
  text-align: center;
  margin: 1rem 0;
  color: #333;
}

#main-prompt {
  font-size: 1.5rem; /* Tamaño aumentado */
  text-align: center;
  margin: 1rem 0;
  color: #555;
}

/*----------------------------------------------------------------------------------------------------------------------------------*/
/* Estilos usados para la página principal (index.html) y todos-los-casos.html */

/*----------------------------------------------------------------------------------------------------------------------------------*/
/* Contenedor de casos en index.html */
#casos-container {
  border: 5px solid #000000;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem auto;
  max-height: 2000px;
  max-width: 1000px;
}

/* Contenedor de todos los casos en todos-los-casos.html */
#todos-casos-container {
  border: 5px solid #000000;
  width: 50%;
  margin: 20px auto;
  background-color: #f4f4f4;
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
}

/*----------------------------------------------------------------------------------------------------------------------------------*/
/* Estilo para la información de los casos */
.case {
  border: 5px solid #000000;
  border-radius: 8px;
  background-color: #a3f7ff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 45%;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

.case:hover {
  transform: scale(1.02);
  background-color: #f9f9f9;
}

.case.disabled {
  pointer-events: none;
  opacity: 0.6;
  cursor: not-allowed;
}

/*----------------------------------------------------------------------------------------------------------------------------------*/
/* Botones de navegación */
button {
  display: block;
  margin: 20px auto;
  padding: 0.5rem 1rem;
  font-size: 20px;
  background-color: #747474;
  color: white;
  border: 3px solid #000000;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}


#show-all-btn, #home-btn, #volver-btn {
  display: block;
  margin: 20px auto;
  padding: 0.5rem 1rem;
  font-size: 20px;
  background-color: #747474;
  color: white;
  border: 3px solid #000000;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#show-all-btn:hover, #home-btn:hover, #volver-btn:hover {
  background-color: #0056b3;
}

#volver-container {
  text-align: center;
}

#continue-button {
  display: block;
  margin: 20px auto;
  padding: 0.5rem 1rem;
  font-size: 20px;
  background-color: #747474;
  color: white;
  border: 3px solid #000000;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#continue-button:hover {
  background-color: #0056b3;
}


/*----------------------------------------------------------------------------------------------------------------------------------*/
/* Estilos para las métricas de selección */
#metricas-container {
  margin-top: 1rem;
  text-align: center;
  font-size: 1rem;
  color: #555;
}

/* Barras de porcentaje */
.percentage-bars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 30px;
  max-width: 45%;
  margin: 1rem auto;
  background-color: #e0e0e0;
  border-radius: 15px;
  overflow: hidden;
}

.bar-left {
  background-color: rgba(0, 123, 255, 0.6);
  height: 100%;
  transition: width 0.5s ease;
  transform-origin: right;
}

.bar-right {
  background-color: rgba(255, 87, 51, 0.6);
  height: 100%;
  transition: width 0.5s ease;
  transform-origin: left;
}

.percentage-labels {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #333;
}

.percentage-labels span {
  flex: 1;
  text-align: center;
}

/*----------------------------------------------------------------------------------------------------------------------------------*/
/* Estilo del gráfico final */
#grafico-container {
  margin: 2rem auto;
  max-width: 800px;
  text-align: center;
}

#grafico-votos {
  width: 100%;
  height: 400px;
}

/*----------------------------------------------------------------------------------------------------------------------------------*/
/* Página de bienvenida */
.welcome-container {
  text-align: center;
  padding: 2rem 1rem;
}

/* Mensaje explicativo */
.mensaje-container {
  background-color: #92f9f6;
  border: 8px solid #5a5a5a;
  border-radius: 10px;
  color: black;
  padding: 20px;
  max-width: 50%;
  margin: 20px auto;
  text-align: left;
  font-size: 20px;
  line-height: 1.6;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


/* Imagen de bienvenida */
.welcome-image {
  max-width: 450px;
  margin: 1rem auto;
  display: block;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.2));
}

/*----------------------------------------------------------------------------------------------------------------------------------*/
/* Indicador de Loading*/
#loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}

/* Animaci'on*/
.gear {
  width: 50px;
  height: 50px;
  border: 5px solid transparent;
  border-top: 5px solid #007bff;
  border-right: 5px solid #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

